<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= category %></title>
  </head>

  <body>
    <div id="category-page">
      <div class="content-box">
        <%- include('./partials/nav') %> <%- include('./partials/breadcrumb', {
        category, isHome: false }) %>

        <h1><%= category %></h1>

        <div class="menu-column">
          <% menuItems.forEach(item => { %>
          <div class="menu-card">
            <img
              src="/images/menu/<%= encodeURIComponent (item.name) %>.png"
              alt="<%= item.name %> image"
              class="menu-image"
              onerror="this.style.display='none';"
            />

            <h3><%= item.name %> $<%=item.price.toFixed(2) %></h3>
            <p>
              Rating: <%= item.rating %>/5 <% if (item.rating === 5) { %> ⭐ <%
              } %>
            </p>
            <p><%= item.details %></p>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
