<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>%= restaurant.name</title>
  </head>

  <body class="home-page">
 <div class="content-box">
   <%- include('./partials/nav') %>
   <%- include('./partials/breadcrumb', { Category: 'Home', isHome: true }) %>
  
    <h1>Welcome to <%= restaurant.name %></h1>
    <div class="contact-info">
    <p><strong>Address:</strong><%= restaurant.address %></p>
    <p><strong>Phone:</strong> <%= restaurant.phone %></p>

    <% if (restaurant.isOpen) { %>
    <p style="color: green">Yes we are open!</p>
    <% } else { %>
    <p style="color: red">Sorry, we are closed.</p>
    <% } %>

    </div>
    </div>
  </body>
</html>
